@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #030712; 
    color: white;
    margin: 0;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); 
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}